body{
    text-align: center;
}
h1{
    color: rgb(71, 66, 61);
    font-family:fantasy;
}
.icon{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* float: right; */
}
.all-icons {
    font-size: 18px;
    
}
/* .start-btn {border: rgb(243, 127, 19) 5px solid;} */
table{
    margin: auto;
}

table tbody{
    background-image: url(../img/bomb_trans.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 250px;
 }

.board td {
    width: 40px;
    height: 40px;
    text-align: center;
    /* transition: 0.4s; */
}

.board td:hover {
    background-color: lightsalmon;
    cursor: pointer;
}

td.matCell {
    background-color: lightgray;
}
